<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyConn"
            connectionString="Data Source=DESKTOP-01CP7F9;Initial Catalog=finalf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		<add name="MyConnOleDB"
            connectionString="Provider=sqloledb;Data Source=DESKTOP-01CP7F9;Initial Catalog=finalf;Integrated Security=SSPI " 
			 providerName="SQLOLEDB"
/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>